<%= javascript_include_tag 'teams/teams.js' %>
<canvas id="canvas"></canvas>

<form id="wapuuColor">
    <label>アウトライン
        <input id="canvas-all-outline" type="color" value="#000000">
    </label>
    <label>ボールの影
        <input id="canvas-WordPress-blue2" type="color" value="#999999">
    </label>
    <label>ボールの明
        <input id="canvas-WordPress-blue1" type="color" value="#ffffff">
    </label>
    <label>WordPressロゴ
        <input id="canvas-WordPress-logo" type="color" value="#000000">
    </label>
    <label>足の裏
        <input id="canvas-sole" type="color" value="#ffffff">
    </label>
    <label>耳
        <input id="canvas-ear" type="color" value="#ffffff">
    </label>
    <label>尻尾
        <input id="canvas-tail" type="color" value="#ffffff">
    </label>
    <label>体
        <input id="canvas-body" type="color" value="#ffffff">
    </label>
    <label>鼻
        <input id="canvas-nose" type="color" value="#000000">
    </label>
    <label>目
        <input id="canvas-eye" type="color" value="#000000">
    </label>
</form>